.wp-block-query.thincrust-card-grid-query {
	--grid-columns-count: 1;
	--card-width: calc(
		(100% / var(--grid-columns-count)) - var(--spacing-regular) +
			(var(--spacing-regular) / var(--grid-columns-count))
	);
	@include mq("xs") {
		--grid-columns-count: 2;
	}
	@include mq("sm") {
		--grid-columns-count: 3;
	}
	> ul.is-flex-container {
		gap: var(--spacing-regular);
		display: grid;
		grid-template-columns: repeat(auto-fit, var(--card-width));
		align-items: stretch;
		> li {
			width: unset;
			margin: 0;
			padding: 0;
			> div {
				height: 100%;
				border-radius: var(--radius-500);
				padding: 0 0 var(--spacing-regular);
				overflow: hidden;
				> *:not(.wp-block-post-featured-image) {
					padding: 0 var(--spacing-regular);
				}
				.wp-block-post-featured-image {
					margin-bottom: 0;
				}
				> *:first-child:not(.wp-block-post-featured-image) {
					margin-top: var(--spacing-regular);
				}
				a {
					color: var(--wp--preset--color--white);
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}

				.wp-block-read-more {
					letter-spacing: 0.698783px;
					color: var(--wp--preset--color--white);
					font-size: var(--font-size-300);
					&:after {
						content: " \2192";
						position: relative;
					}
				}
			}
		}
	}
}
